
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
}

#update-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #f5f5f5;
}

button[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.go-to-home {
  text-align: center;
  margin-top: 30px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.go-to-home a {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.go-to-home a:hover {
  background-color: #3e8e41;
}